{% extends "base.html.j2" %}
{% block content %}

<div class="books">
{% for book in books_list %}
    <article class="book">
        <h3>{{ book.title }}</h3>
        <p>Page count: {{ book.page_count }}</p>
        {% if book.has_read %}
        <p class="already-read">Already read this book</p>
        {% else %}
        <p class="needs-read">Need to read this!</p>
        {% endif %}
        <p>by
            <a href="{{ url_for('authors.show_author', id=book.author.id) }}">{{ book.author.name }}</a>
        </p>
        <p>
            <a href="{{ url_for('.show_book', id=book.id) }}">More info...</a>
        </p>
    </article>
{% endfor %}
</div>

{% endblock %}