{% extends "base.html.j2" %}
{% block subtitle %}
<h2>Author Detail</h2>
{% endblock %}
{% block content %}
<article class="author">
    <h3 class="author-name">{{author.name}}</h3>
    <p class="author-bio">{{author.bio}}</p>

    <!-- list details of their books here -->
    <p>They have <span class="book-count">{{book_count}}</span> {% if book_count > 1 %}books{% else %}book{% endif %}.</p>
</article>
{% endblock %}