<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{title}} — Books Manager</title>
</head>
<body>
    <header>
    {% block header %}
        <h1>Books Manager</h1>
        {% block subtitle %}
        <h2>{{title}}</h2>
        {% endblock %}
        <nav>
            Go to:
            <ul>
                <li><a href="{{ url_for('books.books') }}">all books</a></li>
                <li><a href="{{ url_for('books.new_book') }}">new book</a></li>
            </ul>
        </nav>
    {% endblock %}
    </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
</body>
</html>