<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ e.code }} {{ e.name }}</title>
</head>
<body>
<h1>{{ e.code }} {{ e.name }}</h1>
<p><a href="https://http.cat"><img src="https://http.cat/{{ e.code }}.jpg"></a></p></body>
<p>{{ e.description }}</p>
</html>
